.custom-navbar {
  background-color: white;
  color: black;
  padding-left: 30px;
}

.navbar-items {
  margin-left: 20px;
}

.nav-link-spacing {
  margin-right: 30px;
}

.nav-centered {
  margin-left: 290px;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background-color: orangered;
  border-color: orangered;
  color: inherit;
}
.btn a:visited {
  color: orangered !important;
}
.btn .active {
  color: orangered !important;
}
.btn-primary {
  background-color: orangered !important;
  border-color: orangered !important;
}
.carousel-image {
  width: 500px;
  height: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.carousel {
  margin-top: 40px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #000000;
  border-color: #000000;
  padding: 10px 20px;
  font-size: 18px;
  color: #000000;
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
}
/* Footer.css */

.footer {
  margin: 30px 0 20px 0;
}
.separator-line {
  border: 1px solid #e0e0e0;
  margin: 20px 0 60px 0;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px 0px 20px;
}

.footer-section h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-bottom {
  margin: 20px 0 20px 0;
  font-size: 14px;
  text-align: center;
}

.tagline {
  font-size: 20px;
  color: #000;
  margin: 20px 0 20px 0;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: xx-large;
  background-color: white;
  color: rgb(29, 27, 27);
}
.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* HomeGuest  */

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in {
  animation: slideDown 0.5s forwards ease-in-out;
}

.fade-out {
  animation: slideUp 0.5s forwards ease-in-out;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.home-container-inner {
  padding-left: 15%;
}

/* FAQ Section */
.faq-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.faq-title {
  /* font-size: 2rem; */
  text-align: center;
  margin: 2rem;
}
.faq-section {
  margin-top: 50px;
  margin-bottom: 70px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.faq-answer {
  padding: 10px;
  background: #e9ecef;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  border-top: none;
}
/* Contact Us  */

.contact-us-section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #343a40;
}
.submit-button-contactus {
  margin-top: 1rem;
}

i {
  margin-right: 10px;
  color: #007bff;
}
.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*  sign in page */
.signin-background {
  background: url("https://github.com/avishala8/invocity/blob/main/invocity_frontend/src/assets/login.png")
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container {
  max-width: 800px;
}

.signin-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signin-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.signin-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.signin-welcome {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.signin-button {
  background-color: #007bff;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
}

.signin-button:hover {
  background-color: #0056b3;
}

.divider {
  margin: 20px 0;
}

.signin-google {
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #555;
}

.signin-google:hover {
  background-color: #f7f7f7;
}

.signin-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signin-footer a {
  color: #007bff;
}

.signin-footer a:hover {
  text-decoration: underline;
}
