.custom-navbar {
  background-color: white;
  color: black;
  padding-left: 30px;
}

.navbar-items {
  margin-left: 20px;
}

.nav-link-spacing {
  margin-right: 30px;
}

.nav-centered {
  margin-left: 290px;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background-color: orangered;
  border-color: orangered;
  color: inherit;
}
.btn a:visited {
  color: orangered !important;
}
.btn .active {
  color: orangered !important;
}
.btn-primary {
  background-color: orangered !important;
  border-color: orangered !important;
}
.carousel-image {
  width: 500px;
  height: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.carousel {
  margin-top: 40px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #000000;
  border-color: #000000;
  padding: 10px 20px;
  font-size: 18px;
  color: #000000;
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
}
