.custom-navbar {
  background-color: white;
  color: black;
  padding-left: 30px;
}

.navbar-items {
  margin-left: 20px;
}

.nav-link-spacing {
  margin-right: 30px;
}

.nav-centered {
  margin-left: 180px;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background-color: orangered;
  border-color: orangered;
  color: inherit;
}
.btn a:visited {
  color: orangered !important;
}
.btn .active {
  color: orangered !important;
}
.btn-primary {
  background-color: orangered !important;
  border-color: orangered !important;
}
